/node_modules
/public/build
/public/hot
/public/storage
/public/Stisla/node_modules

# Proteksi Mutlak Aset Gambar/Data Biar Tidak Kebawa ke Git (Sangat Aman Untuk Server)
/public/images/motor/
/public/images/accesories/
/public/images/spesifikasi/
/public/images/tabel/
/public/images/judul/
/public/data_motor/

# Proteksi File System & Framework
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Jaga-jaga jika ada sisa file konfigurasi server bawaan cPanel
/.well-known/
/public/.well-known/